.grid {
  display: flex;
  flex-direction: column;
  gap: 10px; /* vertical gap between rows */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px; /* horizontal gap between items */
}
