.experience-list {
  padding: 0;
  list-style: none;
}

.experience-item {
  margin-bottom: 1em;
  padding-left: 1em;
}

.experience-title {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.experience-dates {
  font-size: 0.875em;
  color: gray;
  margin-bottom: 0.5em;
}

.experience-location,
.experience-supervisor,
.experience-type {
  font-size: 0.875em;
  margin-bottom: 0.5em;
}

.experience-description {
  font-size: 0.875em;
  margin-bottom: 0.5em;
}


